{% extends 'base.html' %}

{% block title %}Dealer Details{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Reviews for <b> {{ dealership_name }}</b></span>
</nav>
<div class="card-deck">
{% for review in dealer_reviews %}
<div class="card">
    <img class="card-img-top" src="{% if review.sentiment == 'positive' %}{{ MEDIA_URL }}/emoji/positive.png{% elif review.sentiment == 'negative' %}{{ MEDIA_URL }}/emoji/negative.png{% else %}{{ MEDIA_URL }}/emoji/neutral.png{% endif %}" alt="Sentiment Emoji" style="max-width: 100px; max-height: 100px;">
    <div class="card-body">
        <h5 class="card-title">{{ review.car_make }} {{ review.car_model }} ({{ review.car_year }})</h5>
        <p class="card-text">{{ review.review }}</p>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}