{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Dealerships List</span>
</nav>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Dealer Name</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Zip</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        {% for dealership in dealerships %}
            <tr>
                <th scope="row">{{ dealership.id }}</th>
                <td><a href="{% url 'djangoapp:dealer_details' dealership.id %}">{{ dealership.full_name }}</a></td>
                <td>{{ dealership.city }}</td>
                <td>{{ dealership.address }}</td>
                <td>{{ dealership.zip }}</td>
                <td>{{ dealership.state }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
